.main-light, .main-dark {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.main-light {
  background-color: white;
}

.main-dark {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  flex-grow: 5;
  height: 100px;
  float: right;
  transform: rotate(90deg);
  padding-left: 20px;
  display: block;
  margin-top: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-section {
  background-color: lavender;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.blog-main-header {
  display: flex;
  flex-direction: column;
}

.blog-main-desc {
  float: left;
}

.blog-post-light, .blog-post-dark {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: dashed;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  /* height: 100px;
  width: 100%; */
}

.blog-post-light {
  background-color: white;
  border-color: black;
}

.blog-post-dark {
  background-color: black;
  border-color: white;
}

.blog-title-light, .blog-title-dark {
  font-size: 30px;
  color: black;
}

.blog-title-light {
  color: black;
}

.blog-title-dark {
  color: white;
}


.blog-desc {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

.blog-content-light, .blog-content-dark {
  font-size: 14px;
}

.blog-content-light {
  color: black;
}

.blog-content-dark {
  color: white;
}
